.profileScreen {
  height: 100vh;
  color: white;
}

.profileScreen__body {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 0 auto;
  max-width: 800px;
  padding-top: 8%;
}
.profileScreen__body > h1 {
  font-size: 60px;
  font-weight: 400;
  border-bottom: 1px solid #282c2d;
  margin-bottom: 20px;
}

.profileScreen__info {
  display: flex;
}
.profileScreen__info > img {
  height: 100px;
}

.profileScreen__details {
  color: white;
  margin-left: 25px;
  flex: 1;
}
.profileScreen__details > h2 {
  background-color: gray;
  padding: 15px;
  font-size: 15px;
  padding-left: 20px;
}

.profileScreen__plans {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}
.profileScreen__plans > button {
  background-color: #e50914 !important;
  padding: 10px 20px !important;
  border: none !important;
  cursor: pointer;
  color: white !important;
  font-size: 1rem !important;
  font-weight: 600 !important;
  margin-top: 5% !important;
  border-radius: 0 !important;
  text-transform: inherit !important;
}
.profileScreen__plans > h3 {
  border-bottom: 1px solid #282c2d;
  padding-bottom: 10px;
}
